rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Garante que apenas usuários autenticados possam acessar a coleção de administradores.
    match /admins/{userId} {
      allow read, write: if request.auth != null;
    }

    // Regras para a coleção de vales cadastrados
    match /valescadastrados/{valeId} {
      // Leitura: Apenas usuários autenticados podem ler.
      allow read: if request.auth != null;
      // Escrita (Criar, Atualizar, Deletar): Apenas usuários autenticados.
      allow write: if request.auth != null;
    }

    // Regras para a coleção de vales processados
    match /valesprocessados/{valeId} {
        allow read, write: if request.auth != null;
    }

     // Regras para a coleção de clientes
    match /clientes/{clienteId} {
        allow read, write: if request.auth != null;
    }

     // Regras para a coleção de transportadoras
    match /transportadoras/{transportadoraId} {
        allow read, write: if request.auth != null;
    }
  }
}